#main{
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  /* border: solid 1px green; */
  
}

#menu{
  height: 450px;
  width: 1000px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #c7c7c7;
  margin: auto;
  border-radius: 2rem;
  padding: 1.5%;
  transition: height 200ms ease;
  
  nav{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    /* border: solid 1px red; */

    button{
      /* border: solid 1px green; */
      box-sizing: content-box;
      padding: 5px;
      border-radius: 0.3rem;
      background-color: #c7c7c7 ;
      color: var(--primary-color);
      font-size:large;
      border: solid 2px var(--primary-color);
      margin-top: 6px;
      margin-bottom: 6px;

      &:hover{
        padding: 6px;
        background-color: #9300FF;
        color: white;
      }

      &.active{
        background-color: var(--secondary-color);
        color: white;
      }
    }
  }

  .tab-content{
    display: none;
    /* border: solid 2px green; */
    padding: 1%;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-between;
    form{
      /* border: solid 2px blue ; */
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;

      #exclude-button{
        background-color: #F00202;
      }
      .form-field{
        /* border: solid 2px red; */
        
        label{
          display: block;
          font-size: 18px;
          color: var(--primary-color);
          font-weight: 550;
          padding: 0px;
        }
        input{
          height: 40px;
          padding: 4px;
        }
        .input-id{
          width: 80px;
        }
        #input-nome-fantasia{
          width: 250px;
          
        }
        #input-openning-hour{
          width: 100px;
        }

        #input-closing-hour{
          width: 100px;
        }
        #input-street{
          width: 250px;
        }

        #input-street-number{
          width: 80px;
        }

        #input-phone-number{
          width: 150px;
        }

        #input-razao-social{
          width: 230px
        }

        #input-cnpj{
          width: 170px
        }
        #input-full-owner-name{
          width: 190px
        }

        #input-owner-cpf{
          width:145px;
        }

        &.id-search-field{
          width: auto;
          min-width: 0;
          display: flex;
          flex-direction: column;

          label{
            margin-bottom: 0.25rem;
          }

          .id-search-controls{
            display: flex;
            align-items: center;
            gap: 0.75rem;
            flex-wrap: nowrap;
          }

          #edit-id-button{
            height: 40px;
            padding: 0 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          #edit-id-button p{
            margin: 0;
          }
        }
     }
    }
    
    #create-button{
      justify-self: center;

    }
    #update-button{
      justify-self: center;

    }
  }
  .tab-content.active{
    display: flex;
  }

  /* Modo compacto para a aba Excluir */
  &.compact{
    height: 200px; 
    width: 300px;
    /* ajuste 
    conforme necessário */

    .tab-content{
      align-items: center;
      justify-content: center;
      padding-top: 0.5rem;
    }
  }

  /* Layout do formulário da aba Excluir mais enxuto */
  #tab3{
    form{
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }
  }
}


